@import url(./__link/nav-bar__link.css);
@import url(./__link/_active/nav-bar__link_active.css);

.nav-bar {
 margin-right: 10px;
}

@media (max-width: 470px) {
  .nav-bar {
    display: flex;
    margin-right: 0;

    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100vh;
    min-width: 50vw;
    padding: 30px 20px 20px 30px;
    background-color: #1A1B22;
    border-right: 1px solid #669AC9;
  }
}
