.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: #669AC9;
  color: #669AC9;
}

.button:hover {
  opacity: .6;
}
