.nav-bar__link {
  margin-right: 10px;
  color: white;
}

.nav-bar__link:last-child {
  margin-right: 0;
}

.nav-bar__link:hover {
  opacity: .6;
}

@media (max-width: 470px) {
  .nav-bar__link {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
