.project-info__text {
  margin: 16px 0 0;
  font-style: italic;
}

.project-info__text:last-child {
  margin: 24px 0 0;
}

@media (min-width: 321px) and (max-width: 1241px) {
  .project-info__text {
    margin: 12px 0 0;
  }
}

@media (min-width: 1242px) {
  .project-info__text {
    margin: 12px 0 0;
  }
}
